<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>174982539993-kc3qp79urp5klvb5a87gim6a9jjf789d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174982539993-kc3qp79urp5klvb5a87gim6a9jjf789d</string>
	<key>API_KEY</key>
	<string>AIzaSyDXJIHYL4uhrtLyIC3jh69iJ9TZMzT5s0k</string>
	<key>GCM_SENDER_ID</key>
	<string>174982539993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JV.MomentumMixologyDemo</string>
	<key>PROJECT_ID</key>
	<string>momentummixologydemo</string>
	<key>STORAGE_BUCKET</key>
	<string>momentummixologydemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174982539993:ios:f6537b216c9d39b9</string>
	<key>DATABASE_URL</key>
	<string>https://momentummixologydemo.firebaseio.com</string>
</dict>
</plist>